body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:788px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:0px;
  width:430px;
  height:880px;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:106px;
  width:375px;
  height:667px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:134px;
  width:22px;
  height:22px;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:692px;
  width:27px;
  height:27px;
  opacity:0.8;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:724px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:213px;
  width:231px;
  height:24px;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u1112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:106px;
  width:375px;
  height:667px;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:126px;
  width:100px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:219px;
  width:375px;
  height:317px;
  overflow:hidden;
}
#u1115_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:317px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1115_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-117px;
  width:376px;
  height:668px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  word-wrap:break-word;
}
