body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:788px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:0px;
  width:430px;
  height:880px;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:106px;
  width:375px;
  height:667px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:134px;
  width:22px;
  height:22px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:134px;
  width:22px;
  height:22px;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:724px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:213px;
  width:231px;
  height:24px;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:106px;
  width:375px;
  height:667px;
  overflow:hidden;
}
#u1194_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1194_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:107px;
  width:375px;
  height:666px;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:721px;
  width:361px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
